
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.env
.angular/cache/15.0.3/angular-webpack/343abe68fb58d530bf869d3a08cbf237d52da252/index.pack.old
.angular/cache/15.0.3/angular-webpack/343abe68fb58d530bf869d3a08cbf237d52da252/0.pack
.angular/cache/15.0.3/angular-webpack/343abe68fb58d530bf869d3a08cbf237d52da252/1.pack
.angular/cache/15.0.3/angular-webpack/343abe68fb58d530bf869d3a08cbf237d52da252/2.pack
.angular/cache/15.0.3/angular-webpack/343abe68fb58d530bf869d3a08cbf237d52da252/3.pack
.angular/cache/15.0.3/angular-webpack/343abe68fb58d530bf869d3a08cbf237d52da252/index.pack
.angular/cache/15.0.3/angular-webpack/6db3e4238f1bfba43ff445bee3220f6ca765487c/0.pack
.angular/cache/15.0.3/angular-webpack/6db3e4238f1bfba43ff445bee3220f6ca765487c/1.pack
.angular/cache/15.0.3/angular-webpack/6db3e4238f1bfba43ff445bee3220f6ca765487c/2.pack
.angular/cache/15.0.3/angular-webpack/6db3e4238f1bfba43ff445bee3220f6ca765487c/3.pack
.angular/cache/15.0.3/angular-webpack/6db3e4238f1bfba43ff445bee3220f6ca765487c/4.pack
.angular/cache/15.0.3/angular-webpack/6db3e4238f1bfba43ff445bee3220f6ca765487c/5.pack
.angular/cache/15.0.3/angular-webpack/6db3e4238f1bfba43ff445bee3220f6ca765487c/index.pack
.angular/cache/15.0.3/angular-webpack/6db3e4238f1bfba43ff445bee3220f6ca765487c/index.pack.old
*.json
*.pack
